@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

@import "./custom-theme.scss";
@import "./assets/variable";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: $pastelGray;
}
