<h1 class="title">Todos</h1>
<div class="card">
  <form (keydown.enter)="onTaskSave()" [formGroup]="form" class="form">
    <input
      type="text"
      formControlName="content"
      class="form__input"
      placeholder="What needs to be done?"
    />
  </form>

  <ng-container *ngIf="taskList$ | async as taskList">
    <div class="list" *ngIf="taskList.length">
      <ul *ngFor="let task of taskList; index as index">
        <app-list-item [task]="task" [index]="index"></app-list-item>
      </ul>
      <div class="footer">
        <p>{{ taskList.length }} items left</p>
      </div>
    </div>
  </ng-container>
</div>
